a{
      color:#0080BB;
      text-decoration:none;      
}

body{
	font:arial,sans-serif;
}
.list{
	display:table;
}
.list .story{
      cursor:pointer;
      display:table-row;
      color:#555555;
      margin-bottom:1em;
}
.list .story .thumb-wrapper, .list .story .text-data{
      display:table-cell;
      vertical-align:top;
      padding:0.5em;
}
.list .story .thumb-wrapper{
      /* drop shadow added in main.js */
}

.list h3{
      font-size:16px ;
      font-weight:bold;
      color:#ffffff;
      padding:0px;
      margin:0px;
}

.list .story .categories{
      padding-bottom:1em;
      font-size:14px;	
      color:#444444;
}

.list .story .date-info{
      font-size:14px;
      color:#444444;
}